@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-muted">Блог – weblog на ASP.NET Core</h1>
    <p>Сюда мы можем поместить наш текст</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Blog" asp-action="">All records</a>
</div>
